.completed {
  text-decoration: line-through;
  color: gray;
}

.no-value {
  color: #d9d9d9;
}

.col-color {
  width: 1% !important;
}

.col-id {
  width: 4%;
}

.col-title {
  width: 40%;
}

.col-priority {
  width: 10%;
}

.col-category {
  width: 10%;
}

.pointer {
  cursor: pointer;
}
